.header {
    width: 100%;

    // Content styling
    text-align: center;

    // Add padding
    padding: 24px;
    box-sizing: border-box;

    // IgniteSTEM header
    h2 {
        font-size: 20px;
    }

    // Subheader
    p {
        width: 40%;
        margin: auto;

        // Increase space between lines
        line-height: 150%;
    }
}
