// Work Sands from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif; // Set master font for app
}

// Default stylesheet: https://www.w3.org/TR/CSS2/sample.html
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: 500; letter-spacing: .2em }

// Link styling
$linkColor: #2D2D2D;
a {
    text-decoration: none;
    color: $linkColor;
}

// Main content area
$sidebarWidth: 200px;
.main {
    &-content {
        // Left side devoted to sidebar
        width: calc(100% - #{$sidebarWidth});
        float: right;

        padding: 24px;
        box-sizing: border-box;
    }
}
