$linkColor: #2D2D2D;
$selectedColor: #A5A5A5;
$navHeight: 50px;

.nav {
    height: $navHeight;
    padding: 16px;
    box-sizing: border-box;

    // Child positioning
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-link {
        color: $linkColor;

        &-selected {
            color: $selectedColor;
        }
    }
}
